{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <style>
        .card-img-top {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }

        .info {
            text-align: center;
        }

        /* Additional style for card */
        .custom-card {
            border-radius: 12px; /* Updated border radius */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            /* Gradient background for a shiny look */
            background: linear-gradient(to right, #f2f2f2, #ffffff);
        }

        /* Additional style for card image */
        .custom-card-img {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        /* Additional style for pagination */
        .pagination {
            margin: 20px 0;
        }
    </style>

    <!-- Add this for centering -->
    <div class="d-flex justify-content-center">

        <!-- Using Bootstrap grid system -->
        <div class="col-md-6">
            {% for post in page_obj %}
                <!-- Removed the outer card -->
                <div class="card mb-3 custom-card">
                    <!-- Apply the custom-card-img class to the image -->
                    <img src="{{ post.header_image.url }}" class="card-img-top custom-card-img" alt="{{ post.title }}">
                    <div class="card-body">
                        <h5>
                            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> -
                            <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></h5>
                        <p class="card-text">{{ post.body|slice:":300"|safe }}</p>
                        <a href="{% url 'article-detail' post.pk %}">...click here to see more</a>
                        <br/><br/>
                        <p class="card-text"><small class="text-muted">By:
                            {{ post.author.first_name }}
                            {{ post.author.last_name }} - {{ post.post_date }}</small></p>
                    </div>
                </div>
                <br/>
            {% endfor %}
        </div>
    </div>
    <!-- Moved the pagination outside -->
    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>
{% endblock %}
